---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        position: relative;
        background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }

    {% if page.header-mask %}
    header.intro-header .header-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0, {{ page.header-mask }});
    }
    {% endif %}
</style>
<header class="intro-header" >
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                    
                </div>
            </div>
        </div>
    </div>
</header>
{% for tag in page.tags %}
    {% if{{tag}} == 'Music'%}
    <link rel="stylesheet" href="/css/lanrenzhijia.css" type="text/css" />
    <div class="music-player">
      <div class="info">
        <div class="left">  </div>
        <div class="center">
          <div class="jp-playlist">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="right">  </div>
        <div class="progress jp-seek-bar"> <span class="jp-play-bar" style="width: 0%"></span> </div>
      </div>
      <div class="controls">
    <div class="current jp-current-time">00:00</div>
    <div class="play-controls"> 
        <a href="javascript:;" class="icon-previous jp-previous" title="previous"></a> 
        <a href="javascript:;" class="icon-play jp-play" title="play"></a> 
        <a href="javascript:;" class="icon-pause jp-pause" title="pause"></a> 
        <a href="javascript:;" class="icon-next jp-next" title="next"></a> 
     </div>
    <div class="volume-level jp-volume-bar"> 
        <span class="jp-volume-bar-value" style="width: 0%"></span> 
            <a href="javascript:;" class="icon-volume-up jp-volume-max" title="max volume"></a> 
            <a href="javascript:;" class="icon-volume-down jp-mute" title="mute"></a> 
    </div>
  </div>
      <div id="jquery_jplayer" class="jp-jplayer"></div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src='/js/jquery.jplayer.min.js'></script>
    <script src='/js/jplayer.playlist.min.js'></script>
    <script>
          $(document).ready(function(){
            var titles = new Array();
            {% for  title in page.music-titles %}
                titles.push("{{title}}");
            {% endfor %}

            var artists = new Array();
            {% for  art in page.music-artists %}
                artists.push("{{art}}");
            {% endfor %}

            var links = new Array();       
            {% for  lin in page.music-links %}
                links.push("{{lin}}");
            {% endfor %}


            var posts = new Array();       
            {% for  pos in page.music-posts %}
                posts.push("{{pos}}");
            {% endfor %}

            var playlist = new Array();
            for(var i =0;i<titles.length;i++){
                playlist.push({
                    title:titles[i],
                    artist:artists[i],
                    mp3:links[i],
                    poster:posts[i]
                })
            }
          /*var playlist = [{
              title:"Hidden",
              artist:"Miaow",
              mp3:"http://demo.lanrenzhijia.com/2014/music0917/images/i1.mp3",
              //oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg",
              
            },{
              title:"Cro Magnon Man",
              artist:"The Stark Palace",
              mp3:"http://demo.lanrenzhijia.com/2014/music0917/images/i2.mp3",
              //oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg",
              poster: "http://33.media.tumblr.com/bf9dc125a47dcca91ce5b3575bc3ba92/tumblr_nbmb3j8nU51sq3g2zo1_500.png"
            },{
              title:"Bubble",
              m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
              oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg",
              poster: "http://31.media.tumblr.com/810b1125a8b9e9f192d009ef58dceb07/tumblr_nbe8wsmKuz1rknpqyo1_500.jpg"
          }];*/
          

          var cssSelector = {
            jPlayer: "#jquery_jplayer",
            cssSelectorAncestor: ".music-player"
          };
          
          var options = {
            swfPath: "http://cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/jquery.jplayer/Jplayer.swf",
            supplied: "ogv, m4v, oga, mp3"
          };
          
          var myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);
          
        });
        </script>

        {% break %}
    {% endif %}
{% endfor %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">
                {{ content }}
                <!-- 是否为音乐分享 -->
                    
                <!--  -->
    
				

                <hr style="visibility: hidden;">

                {% if site.duoshuo_share && site.duoshuo_username %}
                <!-- 多说 Share start -->
                <div class="ds-share"
                    style="text-align: right"
                    data-thread-key="{{page.id}}"
                    data-title="{{page.title}}"
                    data-url="{{site.url}}{{site.baseurl}}{{page.url}}"
                    data-images="{{ site.url }}{{site.baseurl}}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"
                    data-content="{{ content | strip_html | truncate:80 }} | {{ site.SEOTitle }} " >
                    <div class="ds-share-inline">
                      <style> 
                        .ds-share-icons-16 {display:none;} 
                      </style>
                      <ul class="ds-share-icons-16">
                        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
                        <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                        <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
                        <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
                      </ul>
                      <div class="ds-share-icons-more">
                      </div>
                    </div>
                <hr>
                </div>
                <!-- 多说 Share end-->
                {% endif %}


                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>


                {% if site.duoshuo_username %}
                <!-- 多说评论框 start -->
                <div class="comment">
                    <div class="ds-thread"
                        data-thread-key="{{page.id}}"
                        data-title="{{page.title}}"
                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
                    </div>
                </div>
                <!-- 多说评论框 end -->
                {% endif %}

                {% if site.disqus_username %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}

            </div>  

    <!-- Side Catalog Container -->
        {% if page.catalog %}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        {% endif %}

    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a href="/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}

                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</article>


{% if site.duoshuo_username %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"lyangblog"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
{% endif %}


{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          icon: ''
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}